@font-face {
    font-family: "Roboto_Medium";
    src: url(../fonts/Roboto-Medium.ttf);
  }
@font-face {
    font-family: "Roboto_Light";
    src: url(../fonts/Roboto-Light.ttf);
  }
.cards{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.card{
    border: 1px solid lightgray;
    max-width: 30em;
    max-height: 50em;
    display: inline-flex;
    margin: 0 ;
    flex-wrap: wrap;
   
}

.card__img{
    width: 100%;
    margin:0;
    max-height: 30em;
    object-fit: contain;
}
p{
    margin: 0;
}

.card__itemname{
    text-decoration: none;
    font-size: 24px;
    color: #a40033;
    padding-left: 1em;
    font-family: Roboto_Medium;
    padding-bottom: 0;
    margin-bottom: 0;
}
li{
    
    padding:0.2em;
    padding-left: 1em;
    list-style: none;
    font-family: Roboto_Light;
    padding-right: 10em;
}
li::before{
    content:" ";
    margin-right: .3em;
    display:inline-block;
    width:10px;
    height: 10px;
    background-color:#a40033;
    border-radius: 10px;
}
.card__body{
    display:flex;
    flex-grow: 1;
    overflow: hidden;
    max-height: 10em;
}

.card_textskrtnuty{
    color:grey;
    font-size: 14px;
    padding-top: 0.5em;
}

.card__body{
    display:flex;
    flex-grow: 1;
}



.card__heading{
    width: 100%;
}

.card__foottext{
    padding-left: 1em;
    display: flex;
    font-family: Roboto_Light;
    margin: 0;
    align-content: baseline;
    flex-direction: column;
    justify-content: baseline;
    height: 100%;
}
.card_textcena{
    font-size:21px;
    color: #a40033;
}
.card__dostupnost{
    color: #028402;
    font-size:14px;
}
.card__btn{
    padding: 1em 2em ;
    background-color: #a40033;
    text-decoration: none;
    color: #fff;
    font-family: Roboto_Medium; 
}
.btn{
    justify-content: right;
    display: flex;
    margin: 1em;
    flex-direction: flex-end;
}
.card__footer{
    display: flex;
    justify-content:space-between;
    width: 100%;
    
    max-height:10em;
}
h2{
    margin-bottom: 0;
    margin-left: 0;
}